body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: stretch;

    --banner-color: #ced5d9;
    --banner-height: 80px;
    --banner-padding: 20px;
    --body-height: calc(100% - var(--banner-height));

    --header-color: #ccc;
    --header-border-color: #bababa;
    --icon-size: 60px;
}

#banner {
    background: var(--banner-color);
    width: calc(100% - 2 * var(--banner-padding));
    height: var(--banner-height);
    max-height: var(--banner-height);
    min-height: var(--banner-height);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 var(--banner-padding);
}

#icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

#icon-div {
    padding-right: 20px;
}

#hostname-banner {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24pt;
    margin-left: auto;
}


h1, h2 {
    font-family: sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.info {
    background: #DDD;
}
.warning {
    background: #FF8;
}
.error {
    background: #F55;
}

.log-module {
    background: #DDF;
}

.failure-reason {
    display: flex;
    align-items: center;
    column-gap: 5px;
    flex-direction: row;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #fcc;
    font-family: sans-serif;
    padding: 0px 4px 0px 0px;
    cursor: pointer;
}

button.failure-reason {
    border: 1px solid black;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.failure-type {
    display: flex;
    font-family: sans-serif;
    padding: 4px 10px 4px 10px;
    white-space: nowrap;
    align-self: stretch;
    align-items: center;
}

.failure-type-0 {
    background: #ECE0DC;
}

.failure-type-1 {
    background: #FF336C;
}

.failure-type-2 {
    background: #BED7FF;
}

.failure-type-3 {
    background: #F7FF07;
}

.failure-type-4 {
    background: #E588FF;
}

.failure-type-5 {
    background: #07FFE8;
}

.edit-reason {
    color: blue;
    cursor: pointer;
    font-family: sans-serif;
}

.bug-link::before {
    content: "\1F41E\a0\a0";
}

.bug-link {
    background: #b3ffb3;
    border: 1px solid #86ba86;
    border-radius: 5px;
    padding: 1px 6px 1px 6px;
    text-decoration: none;
    font-family: sans-serif;
}

.developer::before {
    content: "";
}

.developer {
    background: #97dafb;
    border: 1px solid #72a7c1;
    border-radius: 5px;
    padding: 1px 6px 1px 6px;
    text-decoration: none;
    font-family: sans-serif;
}



.backlink {
    align-self: stretch;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    margin: 20px; 10px;
    text-decoration: none;
}

#content {
    padding: 5px;
}

fieldset {
    border: 1px solid #8f8f8f;
    border-radius: 8px;
}

fieldset legend {
    border-radius: 17px;
    padding: 0 8px;
    background: #52616e;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;

}

.duration-text {
    font-family: monospace;
}

table.fixed {
    table-layout: fixed;
    border-collapse: collapse;
}

table.fixed td, table.fixed th {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11pt;
}

.detailtable {
    margin-top: 1em;
    margin-bottom: 2em;
    table-layout: fixed;
    border-collapse: collapse;
}

.detailtable th {
    background: #ccc;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

.detailtable td.colspacer {
    background: unset;
    margin-left:50px;
}

.detailtable td {
    background: #eee;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: monospace;
}

.returnlink {
    margin-bottom: 30px;
}

#float-search-container {
    padding-bottom: 20px;
}

#float-search {
    --float-trans-duration: .15s;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    column-gap: 10px;
    width: calc(100% - 25px);
    align-self: left;
    background-color: #ced5d9;
    transition: width ease-out var(--float-trans-duration), margin-left ease-out var(--float-trans-duration);
}

#float-search label {
    display: flex;
    align-items: center;
}

#float-search.floating {
    justify-content: space-around;
    position: fixed;
    top: 0px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: 30%;
    width: 40%;
}
#float-search.floating legend {
    display: none;
}

#float-search input {
    color: black;
    background: white;
    height: 26px;
}

#float-search.noresults input {
    background: #fdd;
}

.anchor-offset {
    padding-top: 80px;
    margin-top: -80px;
}

/*******************************************************************\
* Modal dialog
\*******************************************************************/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 800px;
}

.modal-client-area {
    padding: 10px;
    min-width: 760px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-row {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.modal-label {
    width: 60px;
    max-width: 60px;

    font-family: sans-serif;
    font-weight: bold;

    text-align: left;
    padding-left: .5em;
    padding-right: .5em;
    background: #AAC;
    border: 1px solid black;

    white-space: nowrap;
    overflow: hidden;
}

.modal-row > :not(.modal-label) {
    width: 100%;
}

.modal-dialog input[type='text'] {
    border: 1px solid black;
}

.modal-dialog input[type='text']:not(.validate-error) {
    background: #fff;
}

.modal-dialog .validate-error {
    background: #faa;
}

.modal-button-area {
    background: #cecedd;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    justify-content: right;
    align-items: stretch;

    --padding: 18px;

    width: calc(100% + 2 * var(--padding));
    height: calc(25px + var(--padding));
    margin-top: 0px;
    padding-top: 8px;
    margin-left: calc(0px - var(--padding));
    margin-bottom: calc(0px - var(--padding));

    padding-right: var(--padding);
    padding-left: var(--padding);
    padding-bottom: calc(var(--padding));
    white-space: nowrap;
}
.modal-button-area > :last-child {
    margin-right: calc(2 * var(--padding));
}
.modal-button-area label {
    align-self: center;
    font-size: 10pt;
}

.modal-button-area input {
    vertical-align: middle;
}

.modal-button-area button {
    min-width: 80px;
    height: auto;
    background: #eee;
    border: 1px solid black;
    border-radius: 3px;
}

/*******************************************************************\
* Status Message
\*******************************************************************/

#notification-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.notification-box {
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 50px;
    padding: 20px;
    pointer-events: auto;
    line-height: 50px;
    color: white;
    font-size: 16pt;
    font-family: sans-serif;
}
