#diagcommands {
    width: 610px;
    margin-top: 1em;
    margin-bottom: 2em;
}


#diagcommands button {
    width: 180px;
    height: 60px;
    margin:3px;
}

#dispense-commands {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

#dispense-commands th {
    background: #ccc;
}

#dispense-commands button {
    width: 70px;
    height: 45px;
}

#dispense-commands input {
    width: 70px;
}

#dispense-commands th, #dispense-commands td {
    width: 80px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

fieldset {
    margin-bottom: 2em;
}

.unit-button {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

#motor-control button {
    width: 40px;
    height: 40px;
}

#unit-select {
    margin-bottom: 15px;
}

.diag-button-cell {
    width: 200px;
}

.diag-result {
    align-self: stretch;
    white-space: pre;
    font-family: monospace;
}

.diag-container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
