body {
    --button-color: #eee;
    --button-border-color #aaa;
    --button-text-color: #000;
}

#header {
    text-align: center;
    font-family: sans-serif;
    font-size: 14pt;
    white-space: nowrap;
    overflow: hidden;
}

.dispense-header {
    font-size: 20pt;
}

.uipage {
    font-family: sans-serif;
    width: 314px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    font-family: sans-serif;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
}

.uipage button, #footer button {
    width: 314px;
    height: 60px;

    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 8px;
}

.uipage > * {
    scroll-snap-align: start end;
}

#footer {
    height: 60px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    column-gap: 6px;
}

button#footer-button {
}

button#scroll-back, button#scroll-fwd {
    width: 90px;
    visibility: hidden;
}

.reload {
    margin-bottom: 5px;
}

.dispense-user {
  width: 90px;
  font-size: 12pt;
  font-weight: bold;
  padding-left: 3px;
}

.uipage button.dispense-button {
  width: 314px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: 0;
  font-family: sans-serif;
  font-size: 10pt;
  --button-border-color: #aaa;
  --button-color: #eee;
  --button-text-color: #000;


}

.uipage button.dispense-button .dispense-sched {
    background-color: #ddf;
    color: black;
}

.dispense-scheds {
  width: 230px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #aaa;
  margin-left: 8px;
  padding-left: 2px;
  padding-right: 5px;
  row-gap: 2px;
  align-self: stretch;
  align-items: left;
  justify-content: center;
  border-radius: 0px 6px 6px 0px;
  background-color: #ddf;
  color: black;
  overflow: hidden;
}

.dispense-sched {
  font-family: sans-serif;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  column-gap: 9px;
}

.dispense-time {
  width: 35px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

.dispense-count {
  width: 20px;
  font-weight: bold;
  text-align: right;
  background: #cce;
  color: black;
  padding: 2px;
  border-radius: 6px;

}

.dispense-drug {
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.drug-inactive, .user-inactive {
    --button-text-color: #aaa;
    --button-color: #222;
}

.uipage label {
    font-family: sans-serif;
    font-size: 12pt;
}

.manage-drug-count {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.drug-count {
    font-size: 32pt;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

button.drug-count-button {
    width: 30%;
}

#history {
}

.history-entry {
    display: grid;
    gap: 3px;
    width: 100%;
    min-height: 66px;
    margin: 0;
    grid-template-columns: 78px auto 34px 60px;
    grid-template-rows: repeat(3, 20px);
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #999;
}

.history-date {
    grid-row: 1;
    grid-column: 1;
}
.history-time {
    grid-row: 1;
    grid-column: 2;
}
.history-user {
    grid-row: 2;
    grid-column: 1 / 4;
}
.history-drug {
    grid-row: 3;
    grid-column: 1 / 3;
}
.history-count {
    grid-row: 3;
    grid-column: 3;
}

button.undo-button {
    grid-row: 1 / 4;
    grid-column: 4;
    width: 60px;
    height: 60px;
}

.dose-schedule-entry {
    display: grid;
    gap: 3px;
    width: 100%;
    min-height: 66px;
    margin: 0;
    grid-template-columns: 46px 25px auto 72px;
    grid-template-rows: repeat(3, 20px);
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #999;
}

.dose-schedule-time {
    grid-row: 2;
    grid-column: 1;
}
.dose-schedule-count {
    grid-row: 2;
    grid-column: 2;
}
.dose-schedule-drug {
    grid-row: 1;
    grid-column: 1 / 4;
}

.dose-schedule-last-dispense {
    grid-row: 2;
    grid-column: 3;
}

.dose-schedule-filter {
    grid-row: 3;
    grid-column: 1 / 4;
    white-space: nowrap;
    overflow: hidden;
}

.dose-schedule-active {
    grid-row: 1;
    grid-column: 4;
}

button.dose-button {
    width: auto;
    grid-row: 2 / 4;
    grid-column: 4;

    height: auto;
}

.dispense-reorder {
    border: 1px solid #333;
    border-collapse: collapse;
}

.dispense-reorder th, .dispense-reorder td {
    border: 1px solid #333;
    padding-left: 6px;
    padding-right: 6px;
}

.dispense-reorder th {
    background-color: #444;
    color: white;
}

.dispense-reorder-count {
    text-align: right;
}

.spacer {
    margin-top: auto;
}
