.queryparams {
    display: flex;
    flex-align: center;
    column-gap: 10px;
    margin-bottom: 15px;
}
.queryparams > select, #queryparams > input, #queryparams > label {
    margin-right: 20px;
}

.object-table {
    width: 100%;
    border-collapse: collapse;
}

.object-table th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 8px 2px 8px;
}

.object-table th {
    font-family: sans-serif;
    background: #aaa;
    white-space: nowrap;
}

.object-field-buttons input {
    width: 100%;
}

td {
    font-family: monospace;
}

col {
    min-width: 100px;
}

col.actions {
    max-width: 100px;

}

td.actions > div {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    flex-wrap: nowrap;
}


col.config {
    width: 100%;
}

td.config > div {
    display: flex;
    column-gap: 5px;
}

.configpair {
    border: 1px solid black;
    background: #ccc;
}

.configkey {
    padding-left: 3px;
    padding-right: 3px;
    font-family: monospace;
    border-right: 1px solid black;
    background: #eee;
}

.configkey::after {
    content: ":";
}

.configvalue {
    padding-left: 3px;
    padding-right: 3px;
    font-family: monospace;
    white-space: pre;
    background: #fff;
}

.object-field-buttons {
    display: flex;
    flex-direction: row;
}

.object-table-container button, .object-field-buttons button {
    background: #b3ffb3;
    border: 1px solid #86ba86;
    border-radius: 5px;
    padding: 1px 3px 1px 3px;
    text-decoration: none;
    font-size: 10pt;
    font-family: sans-serif;
    cursor: pointer;
}

.object-table button.delbtn {
    background: #ffa8a8;
    border: 1px solid #ff8080;
}

.object-table-container .buttons {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 5px;
    display: flex;
    column-gap: 5px;
}

.object-table-container .buttons button {
    font-size: 14pt;
}

.modal-button-area button.button-deletevm,
.modal-button-area button.button-deleteconfig,
.modal-button-area button.button-deleteboth {
    width: 160px;
    background: #f66;
}

.saving-indicator {
    height: 20px;
    display: none;
}

.saving-text {
    height: 20px;
    text-align: center;
}

button.saving .saving-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.saving .saving-text {
    display: none;
}

.modal-label {
    width: 160px;
    max-width: 160px;
}
