body {
    --color-unselected-even: #eee;
    --color-unselected-odd: #e1e1e1;
    --color-sep-even: #ddd;
    --color-sep-odd: #ccc;
    --color-selected-even: #c3c3c3;
    --color-selected-odd: #c3c3c3;
}

/* Container */

table.querytable {
    table-layout: fixed;
    border-collapse: collapse;
}

table.querytable td a {
    text-decoration: none;
}

table.querytable td, table.querytable th {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11pt;
}

/* Search */

.querytable-search {
    margin-top: 20px;
    height: 70px;
    display: flex;
    align-items: start;
    column-gap: 10px;
}

.querytable-search button {
    min-width: 5em;
}


/* Results container (list <-> details) */

.querytable-results {
    display: flex;
}


/* Result list (contains table) */

.querytable-list {
    flex: 70%;
    width: 70%;
}

/* Query table */

.querytable {
    width: 100%;
}

.querytable th {
    background: var(--header-color);
    border-bottom: 1px solid var(--header-border-color);
    font-weight: bold;
    font-size: 11pt;
}

.querytable td, .querytable th {
    padding: 2px 8px 2px 8px;
    white-space: nowrap;
    line-height: 12pt;
}

tr.queryrow.hiddenrow {
    display: none;
}

.querytable td  {
    border: 1px dotted rgba(0, 0, 0, 0.25);
}

.querytable td:nth-child(odd) {
    background: var(--color-unselected-odd);
}

.querytable td:nth-child(even) {
    background: var(--color-unselected-even);
}

.querytable .selected td:nth-child(odd) {
    background: var(--color-selected-odd);
}

.querytable .selected td:nth-child(even) {
    background: var(--color-selected-even);
}

.querytable td.timestamp {
    text-align: center;
    font-weight: bold;
}

col.idcolumn {
    width: 70px;
    min-width: 70px;
}

col.timestamp {
    width: 115px;
    min-width: 115px;
}

.querytable tr.selected td.selectind::after {
    content: "\025B6";
}


/* Details pane */

.querytable-details {
    margin-left: 2em;
    width: 30%;
}

.querytable-details-card {
    display: none;
}

.querytable-details-card.selected {
    display: block;
}
