body {
    height: 100%;
    overflow: hidden;
}

#action-links {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    justify-content: center;
}

#action-links a {
    text-decoration: none;
}

#tab-buttons button {
    height:40px;
    width: 120px;
    margin-right: 1em;
}

#tab-buttons button {
    background-color: #f8f8f8;
}

#tab-buttons button.selected {
    background-color: #0083c5;
}

.tab {
    position: absolute;
    top: var(--banner-height);
    left: 0;
    background: #f8f8f8;
    width: 100%;
    height: calc(100% - var(--banner-height));
    overflow: auto;
    visibility: hidden;
}

.tab-inner {
    padding: 5px;
}

#testruntab {
    overflow-y: scroll;
}
/* Log */

#livelog {
    font-family: monospace;
    white-space: pre;
}

.info {
    background: #DDD;
}
.warning {
    background: #FF8;
}
.error {
    background: #F55;
}


col.selectind {
    width: 30px;
    min-width: 30px;
}

col.active {
    width: 30px;
    min-width: 30px;
}

td.active {
}

td.active input {
    width: 100%;
    height: 100%;
    margin: 0;
}

col.id {
    width: 100px;
    max-width: 100px;
}

#usertab col.name, col.userid {
    width: 200px;
    min-width: 200px;
}

#drugtab col.name, col.drugid {
    width: 400px;
    min-width: 400px;
}

col.date_filter {
    width: 100%;
}

col.notes {
    width: 100%;
}
