<html>
  <head>
    <title>Pill Pusher Pro</title>
    <link rel="stylesheet" type="text/css" href="/static/common.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/diag.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/dispenser.css"></link>
    <style>
      * {
          -webkit-user-select: none;
          {% if request.args.get('nocursor') %}
          cursor: none;
          {% endif %}
      }

      body {
          overflow: hidden;
          color: white;
          background:#222;

          --button-color: #555;
          --button-border-color #444;
          --button-text-color: #ccc;
      }

      #main {
          padding: 3px;
          position: absolute;
          top: 0;
          left: 0;
          width: 316px;
          height: 480px;
          {% if request.args.get('rotate') %}
          transform: translateX(480px) rotate(90deg);
          {% endif %}
          transform-origin: top left;
          background: #000;
      }

      .detailtable {
          color: black;
      }


      .clock {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          column-gap: 40px;
          align-self: stretch;
          justify-content: center;
      }

      .clock-date {
          font-size: 12pt;
      }

      .clock-time {
          font-weight: bold;
          font-size: 14pt;
      }

      .uipage {
          height: 390px;
      }

      button {
          {% if request.args.get('nocursor') %}
          cursor: none;
          {% endif %}
      }

      .modal-overlay.modal-overlay {
          {% if request.args.get('rotate') %}
          transform: translateX(480px) rotate(90deg);
          {% endif %}
          transform-origin: top left;
          width: 320px;
          height: 480px;
          {% if request.args.get('nocursor') %}
          cursor: none;
          {% endif %}

          color: black;
      }
      .modal-dialog.modal-dialog {
          width: 280px;
          {% if not request.args.get('nocursor') %}
          cursor: none;
          {% endif %}
      }
      .modal-client-area.modal-client-area {
          min-width: 260px;
          max-width: 260px;
          {% if not request.args.get('nocursor') %}
          cursor: none;
          {% endif %}
      }

      .menu-button, .back-button {
          margin-top: auto;
          margin-bottom: 5px;
      }

      .dispense-header {
          color: #fff;
      }

      .diag-result {
          overflow: hidden;
      }

      .uipage button.motor-button {
          width: 80px;
      }

      .diag-container {
          flex-direction: column;
      }

      #diagcommands button {
          width: 130px;
      }

      #diagcommands {
          width: 314px;
      }

      .diag-container {
          width: 314px;
      }

      #unit-select button {
          width: 100px;
      }

      #manual-dispense-buttons {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
      }

    </style>
  </head>
  <body>
    <div id="main">
      <div id="header">Pill Pusher Pro</div>
      <div id="dispenser" data-title="Pill Pusher Pro" class="uipage">
        <button class="reload" onclick="location.reload()">Refresh</button>
      </div>

      <div id="dispense-dose" data-title="" class="uipage">
      </div>

      <div id="menu" data-title="Main Menu" class="uipage">
        <button class="nav-button" data-dest="drugs">Drugs</button>
        <button class="nav-button" data-dest="users">Users</button>
        <button class="nav-button" data-dest="history">Dispense History</button>
        <button class="nav-button" data-dest="system">System</button>
        <button class="nav-button" data-dest="diagnostics">Diagnostics</button>
      </div>

      <div id="drugs" data-title="Drugs" class="uipage">
      </div>

      <div id="drug-menu" class="uipage">
      </div>

      <div id="users" data-title="Users" class="uipage">
      </div>

      <div id="user-menu" class="uipage">
      </div>

      <div id="dose-menu" class="uipage">
      </div>

      <div id="history" data-title="Dispense History" class="uipage">
      </div>

      <div id="diagnostics" data-title="Diagnostics" class="uipage">
        <button class="nav-button" data-dest="diag-status">Status</button>
        <button class="nav-button" data-dest="diag-unit">Select Unit</button>
        <button class="nav-button" data-dest="diag-motors">Motors</button>
        <button class="nav-button" data-dest="diag-commands">Commands</button>
        <button class="nav-button" data-dest="diag-dispense">Dispense</button>
      </div>

      <div id="diag-status" data-title="Status" class="uipage">
        <table class="detailtable">
          <tr>
            <th>Dispensing state</th><td><span id="dispense-state">...</span></td>
          </tr>
          <tr>
            <th>Dispensing result</th><td><span id="dispense-result">...</span></td>
          </tr>
          <tr>
            <th>Pills dispensed</th><td><span id="dispense-count">...</span></td>
          </tr>
          <tr>
            <th>Pills remaining</th><td><span id="dispense-remain">...</span></td>
          </tr>
          <tr>
            <th>Result</th><td></td>
          </tr>
          <tr>
            <th>Pill detect</th><td><span id="pill-in-chamber">...</span></td>
          </tr>
        </table>


      </div>

      <div id="diag-unit" data-title="Select Unit" class="uipage">
        <div id="unit-select"></div>
        <div class="diag-result"></div>
      </div>

      <div id="diag-motors" data-title="Motors" class="uipage">
        <div>Lf: <button class="motor-button" id="motor-a-b">⬅</button> <button class="motor-button" id="motor-a-f">➡</button></div>
        <div>Rt: <button class="motor-button" id="motor-b-b">⬅</button> <button class="motor-button" id="motor-b-f">➡</button></div>
        <div class="diag-result"></div>
      </div>

      <div id="diag-commands" data-title="Commands" class="uipage">
        <div class="diag-container">
          <div id="diagcommands">
          </div>
          <div class="diag-result"></div>
        </div>
      </div>

      <div id="diag-dispense" data-title="Dispense" class="uipage">
        <table id="dispense-commands" border="1">
          <thead><th></th><th>Unit</th><th>Count</th></thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <td><button id="add-dispense-command">Add</button></td>
              <td><button id="start-dispense-command">Go</button></td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div id="system" data-title="System" class="uipage">
        <button class="shutdown-button">Shutdown</button>
        <button class="reboot-button">Reboot</button>
        <button class="nav-button" data-dest="ipaddr">Network</button>
        <button class="reset-doses">Reset Doses</button>
        <button class="clear-doses">Clear Pending Doses</button>
      </div>

      <div id="shutdown" class="uipage">
        <div class="dispense-header">Shutting down... When screen turns white, it is safe to remove power.</div>
      </div>

      <div id="reboot" class="uipage">
        <div class="dispense-header">Rebooting...</div>
      </div>

      <div id="ipaddr" data-title="Network" class="uipage">
        <div></div>
      </div>

      <div id="footer">
        <button id="scroll-back">&lt;</button>
        <button id="footer-button">Menu</button>
        <button id="scroll-fwd">&gt;</button>
      </div>
    </div>

    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/autopill.js"></script>
    <script type="text/javascript" src="/static/object_table.js"></script>
    <script type="text/javascript" src="/static/diag.js"></script>
    <script type="text/javascript" src="/static/dispenser.js"></script>
    <script>
      startScheduleCheck();
      let diagTab = new DiagTab('diag', 'diag');
      defPage('diag-status', class extends UIPage {
          onActivate() {diagTab.update()}
      });

      afterUnitSelect = () => setUiPage('#diagnostics');
    </script>
  </body>
</html>
