<html>
  <head>
    <title>Pill Pusher Pro</title>
    <link rel="stylesheet" type="text/css" href="/static/common.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/tabui.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/object_table.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/diag.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/dispenser.css"></link>
  </head>
  <body>
    <div id="banner">
      <div id="icon-div">
        <a href="/">
          <img id="icon" src="/static/icon.png" />
        </a>
      </div>
      <div id="tab-buttons">
      </div>
    </div>
    <div id="tab-content">
      <div id="maintab" class="tab">
        <div class="tab-inner">
          <iframe src="/dispenser" width="320" height="480"></iframe>
        </div>
      </div>

      <div id="logtab" class="tab">
        <div class="tab-inner">
          <div id="livelog"></div>
        </div>
      </div>
    </div>

    <div id="diagtab" class="tab">
      <div class="tab-inner">
        <table class="detailtable">
          <tr>
            <th>Dispensing state</th><td><span id="dispense-state">...</span></td>
          </tr>
          <tr>
            <th>Dispensing result</th><td><span id="dispense-result">...</span></td>
          </tr>
          <tr>
            <th>Pills dispensed</th><td><span id="dispense-count">...</span></td>
          </tr>
          <tr>
            <th>Pills remaining</th><td><span id="dispense-remain">...</span></td>
          </tr>
          <tr>
            <th>Result</th><td></td>
          </tr>
          <tr>
            <th>Pill detect</th><td><span id="pill-in-chamber">...</span></td>
          </tr>
        </table>
        <fieldset id="unit-select">
          <legend>Unit</legend>
        </fieldset>

        <fieldset id="motor-control">
          <legend>Motors</legend>
          Left: <button id="motor-a-b">⬅</button> <button id="motor-a-f">➡</button>
          Right: <button id="motor-b-b">⬅</button> <button id="motor-b-f">➡</button>
        </fieldset>

        <fieldset class="diag-container">
          <legend>Commands</legend>
          <div id="diagcommands">
          </div>
          <div class="diag-result"></div>
        </fieldset>

        <fieldset class="diag-container">
          <legend>Dispense</legend>
          <table id="dispense-commands" border="1">
            <thead><th></th><th>Unit</th><th>Count</th></thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <td><button id="add-dispense-command">Add</button></td>
                <td><button id="start-dispense-command">Go</button></td>
              </tr>
            </tfoot>
          </table>
        </fieldset>

      </div>
    </div>

    <div id="dispensetab" class="tab">
      <div id="dispenser" class="uipage">
      </div>
    </div>

    <div id="usertab" class="tab object-table-container">
      <div class="buttons">
        <button class="refresh-button">Refresh</button>
        <button class="new-button">New</button>
        <label><input type="checkbox" checked="1" class="include-inactive">Include Inactive</label>
      </div>
      <table border="1" class="object-table">
        <thead></thead>
        <colgroup></colgroup>
        <tbody></tbody>
      </table>
    </div>

    <div id="drugtab" class="tab object-table-container">
      <div class="buttons">
        <button class="refresh-button">Refresh</button>
        <button class="new-button">New</button>
        <label><input type="checkbox" checked="1" class="include-inactive">Include Inactive</label>
     </div>
      <table border="1" class="object-table">
        <thead></thead>
        <colgroup></colgroup>
        <tbody></tbody>
      </table>
    </div>

    <div id="scheduletab" class="tab object-table-container">
      <div class="buttons">
        <button class="refresh-button">Refresh</button>
        <button class="new-button">New</button>
        <label><input type="checkbox" checked="1" class="include-inactive">Include Inactive</label>
      </div>
      <table border="1" class="object-table">
        <thead></thead>
        <colgroup></colgroup>
        <tbody></tbody>
      </table>
    </div>

    <div id="notification-overlay">
    </div>

    <script>
      let user_table = null;
      let drug_table = null;
      let schedule_table = null;
    </script>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/object_table.js"></script>
    <script type="text/javascript" src="/static/autopill.js"></script>
    <script type="text/javascript" src="/static/dispenser.js"></script>
    <script type="text/javascript" src="/static/diag.js"></script>
    <script type="text/javascript" src="/static/tabui.js"></script>
    <script>

    </script>
  </body>
</html>
